* {
	margin: 0;
}

body {
}

header .navbar
{
	border: none;
	color: #fff;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand
{
	color: #fff;
}

header .container-fluid
{
	background-color: #c82c2f;
}

.cont
{
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 10px;
	padding-left: 30px;
}

h3, h5
{
	color: #c82c2f;
}

span.glyphicon
{
	color: #ccc;
}